/* Reset default margin and padding */
body,
h1,
h3 {
  margin: 0;
  padding: 0;
}

/* Apply a modern font */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #f7f7f7;
  color: #444;
}

p {
  position: relative;
  z-index: 1;
}

img {
  position: relative;
  z-index: 0;
  border-bottom-left-radius: 10px;
  top: -10px;
}

/* Container for the schedule */
#scheduleData {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.card {
  position: relative;
  background: #f9f9f9;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px; /* Adjusted margin-bottom for increased space */
  margin-top: 30px; /* Adjusted margin-bottom for increased space */
}

/* Inner store card styles */
.store-card {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.3);
}

/* Style for unordered list */
ul {
  list-style: none; /* Remove default bullet points */
  padding: 0; /* Remove default padding */
}

/* Style for list items */
ul li {
  padding: 8px 0; /* Add padding between list items */
  border-bottom: 1px solid #ccc; /* Add a bottom border for separation */
}

/* Style for the last list item to remove the border */
ul li:last-child {
  border-bottom: none; /* Remove border for the last item */
}

/* Hover effect on list items */
ul li:hover {
  background-color: #f5f5f5; /* Change background color on hover */
  cursor: pointer; /* Show pointer cursor on hover */
}

/* Basic button style */
button {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s;
}

/* Hover effect */
button:hover {
  background-color: #0056b3;
}

/* Additional styling for specific buttons */
/* For the "Show All Stores" button */
button.show-all {
  background-color: #4caf50; /* Change color as needed */
}

.car-logo-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
}

.car-logo {
  width: 100%;
  height: 100%;
}

/* Heading styles */
h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 2em;
}

h3 {
  margin-bottom: 10px;
  color: #555;
  font-size: 1.5em;
  border-bottom: 1px solid #555; /* Add a bottom border */
}

h4 {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

/* Link styles */
a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  text-decoration: underline;
  color: #0056b3;
}

/* Dark mode styles */
body.dark-mode {
  background-color: #1f1f1f; /* Slightly off-black background */
  color: #f0f0f0; /* Light text color for better readability */
}

/* Header styles */
body.dark-mode h1,
body.dark-mode h3 {
  color: #ffffff; /* White header text color in dark mode */
}

body.dark-mode h3 {
  border-bottom-color: #ffffff; /* White border color in dark mode */
}

body.dark-mode #scheduleData {
  background: #000000; /* Dark background for cards */
  background: #161414; /* Dark background for cards */
}

/* Card styles */
body.dark-mode .card {
  background: #1b1818; /* Dark background for cards */
  background: #000000; /* Dark background for cards */
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.5);
  border-color: white;
  color: #f0f0f0; /* Text color for cards */
}

/* Store card styles */
body.dark-mode .store-card {
  background: #312c2c; /* Dark background for store cards */
  color: #cccccc; /* Text color for store cards */
}

/* Link styles */
body.dark-mode a {
  color: #4e8cff; /* Modern link color in dark mode */
}

body.dark-mode a:hover {
  color: #77a9ff; /* Link color on hover in dark mode */
  text-decoration-color: #77a9ff; /* Link underline color on hover */
}

/* Button styles */
body.dark-mode button {
  background-color: #3167eb; /* Modern button background color in dark mode */
  color: #ffffff; /* Button text color in dark mode */
}

body.dark-mode button:hover {
  background-color: #4e8cff; /* Button background color on hover in dark mode */
}

body.dark-mode ul li:hover {
  background-color: #312c2c; /* Change background color on hover */
  cursor: pointer; /* Show pointer cursor on hover */
}

body.dark-mode h3 {
  border-bottom: 1px solid #ccc;
}

/* Dark mode toggle button styles */
#darkModeToggle {
  position: absolute;
  top: 20px; /* Adjust the top position as needed */
  right: 20px; /* Adjust the right position as needed */
  z-index: 1000; /* Ensure it appears above other elements */
  background-color: #ffffff;
  color: #1f1f1f; /* Toggle button text color */
  /* border: 1px solid #ffffff; Toggle button border color */
  padding: 8px 16px; /* Adjust padding as needed */
  font-size: 14px; /* Adjust font size as needed */
  cursor: pointer;
}

#darkModeToggle:hover {
  /* background-color: #e5e5e5; Toggle button background color on hover */
  color: #1f1f1f; /* Toggle button text color on hover */
}

body.dark-mode #darkModeToggle {
  background-color: #1f1f1f;
  color: #ffffff; /* Toggle button text color in dark mode */
}

@media (max-width: 900px) {
  #scheduleData {
    max-width: 100%;
    border-radius: 0;
  }

  #darkModeToggle {
    top: 0px;
    right: 0px;
    width: 6rem;
    height: 3rem;
  }

  .card {
    margin-bottom: 30px;
    margin-top: 30px;
    overflow: hidden;
  }

  .store-card {
    overflow: hidden;
  }

  button {
    padding: 10px 15px;
    font-size: 16px;
  }

  .store-card button {
    width: calc(100% - 30px);
    margin-bottom: 20px;
  }

  h1 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.6em;
  }
}
